# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/forge-1.12-14.21.0.2322-changelog.txt
/forge-1.12-14.21.0.2324-changelog.txt
